.create-post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #313131;
  color: white;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.create-container {
  display: flex;
  flex-direction: column;
  /* width: 500px; */
}

.create-post textarea {
  resize: none;
}

.create-post-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  align-self: center;
  width: 840px;
  border-radius: 4px;
}

/* .create-post-btn, */
.post-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.create-post-btn:hover,
.post-btn:hover {
  background-color: #0056b3;
}
