.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  background-color: #424242;
  padding: 20px;
}

.link {
  color: white;
  margin: 20px;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
}

.logo {
  width: 50px;
  height: auto;
}

.user {
  display: flex;
  flex-direction: column;
  color: white;
}

.log-out-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  cursor: pointer;
}

.log-out-btn:hover {
  background-color: #0056b3;
}
